@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-white text-primary font-sans antialiased;
  }

  h1, h2, h3, h4, h5 {
    @apply font-display text-primary;
  }

  a {
    @apply text-accent hover:opacity-80 transition;
  }
}
